<div class="modal-header">
    <button type="button" ng-click="$dismiss()" class="close">&times;</button>
    <h4 ng-if="options.title" ng-bind="options.title" class="modal-title"></h4>
</div>

<form name="modalform" class="form-horizontal" role="form">
    <div class="modal-body">
        <p ng-if="options.body" ng-bind="options.body"></p>
        <div ng-if="options.columns"
             class="form-group" 
             ng-repeat="i in options.columns" 
             ng-switch="i.dataType"
             ng-class="{ 'has-success': modalform[i.heading].$valid && modalform[i.heading].$dirty || imgTypeError && i.heading=='image' && modalform[i.heading].$dirty,
                        'has-error': modalform[i.heading].$invalid && modalform[i.heading].$dirty || imgTypeError && i.heading=='image' && modalform[i.heading].$dirty  }">
            <label class="col-sm-3 control-label no-padding-right">{{i.heading| labelCase}}</label>

            <div class="col-sm-7"
                 ng-switch-when="text">
                <span class="block input-icon input-icon-right">
                    <input type="text"
                           class="form-control"
                           name="{{i.heading}}"
                           ng-model="data[i.heading]"                             
                           ng-minlength="3" required                             
                           autofocus="i.heading=='name'"                           
                           placeholder="{{i.heading| labelCase}}"/>
                    <span class="help-block" ng-show="modalform[i.heading].$error.required && modalform[i.heading].$dirty">
                        {{i.heading| labelCase}} is required
                    </span>
                    <span class="help-block" ng-show="modalform[i.heading].$error.minlength && modalform[i.heading].$dirty && !modalform[i.heading].$error.required">
                        {{i.heading| labelCase}} must be at least 3 character
                    </span>
                </span>
            </div>
            <div class="col-sm-7"
                 ng-switch-when="email">
                <span class="block input-icon input-icon-right">
                    <input type="email"
                           class="form-control"
                           name="{{i.heading}}"
                           ng-model="data[i.heading]"                             
                           ng-minlength="3" required                             
                           autofocus="i.heading=='name'"                           
                           placeholder="{{i.heading| labelCase}}"/>
                    <span class="help-block" ng-show="modalform[i.heading].$error.required && modalform[i.heading].$dirty">
                        What's your email address?
                    </span>
                    <span class="help-block" ng-show="modalform[i.heading].$error.email && modalform[i.heading].$dirty && !modalform[i.heading].$error.required">
                        Doesn't look like a valid email.
                    </span>
                </span>
            </div>
            <div class="col-sm-7"
                 ng-switch-when="password" style="position: relative;">
                <span class="block input-icon input-icon-right">
                    <input ng-attr-type="{{ showPassword ? 'text' : 'password' }}"
                           class="form-control"
                           name="{{i.heading}}"
                           ng-model="data[i.heading]"                             
                           ng-minlength="3" required                             
                           autofocus="i.heading=='name'"                           
                           placeholder="{{i.heading| labelCase}}"/>
                    <i ng-mousedown="showPassword = !showPassword" ng-mouseup="showPassword = !showPassword" class="myeye fa fa-eye" style="right: 20px !important"></i>
                    <span class="help-block" ng-show="modalform[i.heading].$error.required && modalform[i.heading].$dirty">
                         A password is required.
                    </span>
                    <span class="help-block" ng-show="modalform[i.heading].$error.minlength && modalform[i.heading].$dirty && !modalform[i.heading].$error.required">
                        Password must be at least 3 characters.
                    </span>
                </span>
            </div>
            <div class="col-sm-7"
                 ng-switch-when="selectCat">
                <span class="block input-icon input-icon-right">
                    <select ng-model="data.categoryId" 
                            ng-options="option.name for option in categories | orderBy:'name' track by option.id " 
                            class="form-control"
                            name="{{i.heading}}"
                            required>
                        <option disabled value="">--- Select A Category ---</option>
                    </select> 
                    <span class="help-block" ng-show="modalform[i.heading].$error.required && modalform[i.heading].$dirty">
                        {{i.heading| labelCase}} is required
                    </span>
                </span>
            </div>
            <div class="col-sm-7"
                 ng-switch-when="selectRole">
                <span class="block input-icon input-icon-right">
                    <select ng-model="data.roleId" 
                            ng-options="role.name for role in roles | orderBy:'name' track by role.id " 
                            class="form-control"
                            name="{{i.heading}}"
                            required>
                        <option disabled value="">--- Select A Role ---</option>
                    </select> 
                    <span class="help-block" ng-show="modalform[i.heading].$error.required && modalform[i.heading].$dirty">
                        {{i.heading| labelCase}} is required
                    </span>
                </span>
            </div>
            <div class="col-sm-7"
                 ng-switch-when="phone">
                <span class="block input-icon input-icon-right">
                    <input type="text"
                           class="form-control"
                           name="{{i.heading}}"
                           ng-model="data[i.heading]"                             
                           ng-pattern="/^(\d{3}\)|\d{3})[- ]?\d{3}[- ]?\d{3,5}$/" required                             
                           placeholder="{{i.heading| labelCase}}"/>
                    <span class="help-block" ng-show="modalform[i.heading].$error.required && modalform[i.heading].$dirty">
                        {{i.heading| labelCase}} is required
                    </span>
                    <span class="help-block" ng-show="modalform[i.heading].$error.pattern && modalform[i.heading].$dirty && !modalform[i.heading].$error.required">
                        Phone number must have format xxx-xxx-xxx... Ex: 093-252-7777<br/>
                    </span>
                </span>
            </div>
            <div class="col-sm-7"
                 ng-switch-when="price">
                <span class="block input-icon input-icon-right">
                    <input type="text"
                           class="form-control"
                           name="{{i.heading}}"
                           ng-model="data[i.heading]"                             
                           min="0" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" required                             
                           placeholder="{{i.heading| labelCase}}"/>
                    <span class="help-block" ng-show="modalform[i.heading].$error.required && modalform[i.heading].$dirty">
                        {{i.heading| labelCase}} is required
                    </span>
                    <span class="help-block" ng-show="modalform[i.heading].$error.pattern && modalform[i.heading].$dirty && !modalform[i.heading].$error.required">
                        {{i.heading| labelCase}} must be a number with maximum of 2 decimal places. <br/>
                        Ex: 1.23
                    </span>
                </span>
            </div>
            <div class="col-md-7"
                 ng-switch-when="image">
                <label class="btn btn-sm btn-default">
                    Browse
                    <input ng-model="file" 
                           type="file" name="{{i.heading}}"
                           onchange="angular.element(this).scope().getFile(this)" 
                           style="display:none;"/><br/>
                </label>
                &nbsp;{{data.image}}
                <span class="help-block" ng-show="imgTypeError && modalform[i.heading].$dirty">
                    Image extension is not valid, only .png .jpg .bmp are accepted
                </span>
                <br/>
                <span><img class="productimg" ng-src="assets/books/{{data.image}}" err-src="C:/imgFiles/{{data.image}}"
                           style="max-width: 100px" alt="" class="img-responsive"/></span>
            </div>
            <div class="col-sm-7"
                 ng-switch-when="quantity">
                <span class="block input-icon input-icon-right">
                    <input type="text"
                           class="form-control"
                           name="{{i.heading}}"
                           ng-model="data[i.heading]"                             
                           ng-pattern="/^[0-9]+$/" required                             
                           placeholder="{{i.heading| labelCase}}"/>
                    <span class="help-block" ng-show="modalform[i.heading].$error.required && modalform[i.heading].$dirty">
                        {{i.heading| labelCase}} is required
                    </span>
                    <span class="help-block" ng-show="modalform[i.heading].$error.pattern && modalform[i.heading].$dirty && !modalform[i.heading].$error.required">
                        {{i.heading| labelCase}} must be a positive integer number
                    </span>
                </span>
            </div>
            <div class="col-sm-7"
                 ng-switch-when="percent">
                <span class="block input-icon input-icon-right">
                    <input type="text"
                           class="form-control"
                           name="{{i.heading}}"
                           ng-model="data.amount"                             
                           ng-pattern="/^[1-9][0-9]?$|^100$/" required                             
                           placeholder="Discount percent"
                           min='0'
                           max='100'/>
                    <span class="help-block" ng-show="modalform[i.heading].$error.required && modalform[i.heading].$dirty">
                        Discount percent is required
                    </span>
                    <span class="help-block" ng-show="modalform[i.heading].$error.pattern && modalform[i.heading].$dirty && !modalform[i.heading].$error.required">
                        Discount percent must be a positive integer number from 1 to 100
                    </span>
                </span>
            </div>
            <div class="col-sm-7"
                 ng-switch-when="fromDate">
                <span class="block input-icon input-icon-right">
                    <span class="input-group">
                        <input type="text" class="form-control mycalendar" custom-class="getDayClass(date, mode)" datepicker-popup="dd-MM-yyyy" ng-model="data.fromDate" min-date="today" max-date="data.toDate" is-open="popup1.opened" readonly close-text="Close" />
                      <span class="input-group-btn" ng-click="popup1.opened = !popup1.opened">
                        <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                    </span>
                </span>
            </div>
            <div class="col-sm-7"
                 ng-switch-when="toDate">
                <span class="block input-icon input-icon-right">
                    <span class="input-group">
                        <input type="text" class="form-control mycalendar" custom-class="getDayClass(date, mode)" datepicker-popup="dd-MM-yyyy" ng-model="data.toDate" min-date="data.fromDate" is-open="popup2.opened" readonly close-text="Close" />
                      <span class="input-group-btn" ng-click="popup2.opened = !popup2.opened">
                        <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                    </span>
                </span>
            </div>
        </div>

        <div class="form-group" ng-repeat="(i, name) in data track by $index" ng-if="!options.columns">
            <label class="col-sm-3 control-label no-padding-right">{{i}}</label>
            <div class="col-sm-7">
                <span class="block input-icon input-icon-right">
                    <input type="text" class="form-control" name="name" ng-model="data[i]" ng-disabled="i == 'id'" autofocus="i=='name'">
                </span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <!-- <button ng-repeat="button in options.buttons" ng-class="button.classes" ng-click="button.click($event)" ng-bind="button.text" class="btn"></button> -->
        <button type="button" class="btn" ng-click="cancel();">Cancel</button> 
        <button class="btn btn-primary" ng-disabled="modalform.$invalid || imgTypeError" ng-click="saveItem(data);" type="submit">Save</button>
    </div>
</form>
