<div class="container" ng-cloak>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="box">
            <h1>New account</h1>

<!--            <p class="lead">Not our registered customer yet?</p>
            <p>With registration with us new world of fashion, fantastic discounts and much more opens to you! The whole process will not take you more than a minute!</p>
            <p class="text-muted">If you have any questions, please feel free to <a href="/contact">contact us</a>, our customer service center is working for you 24/7.</p>-->

            <hr>

            <form ng-submit="register(form)" novalidate name="form">
                <div class="form-group" ng-class="{ 'has-success': form.name.$valid && form.name.$dirty,
                                                    'has-error': form.name.$invalid && form.name.$dirty }">
                  <div style="position: relative;">
                      <input type="text" name="name" class="form-control" ng-model="user.name"
                             ng-minlength="3"
                            required placeholder="Your name"/>
                      <i class="myasterisk fa fa-asterisk"></i>
                  </div>
                  <p class="help-block" ng-show="form.name.$error.required && form.name.$dirty">
                    A name is required.
                  </p>
                  <p class="help-block" ng-show="form.name.$error.minlength && form.name.$dirty && !form.name.$error.required">
                    Name must be at least 3 character.
                  </p>
                </div>

                <div class="form-group" ng-class="{ 'has-success': form.email.$valid && form.email.$dirty,
                                                    'has-error': form.email.$invalid && form.email.$dirty }">
                  <div style="position: relative;">
                      <input type="email" name="email" class="form-control" ng-model="user.email"
                         required
                         mongoose-error placeholder="Email Address"/>
                      <i class="myasterisk fa fa-asterisk"></i>
                  </div>                  
                  <p class="help-block" ng-show="form.email.$error.email && form.email.$dirty && !form.email.$error.required">
                    Doesn't look like a valid email.
                  </p>
                  <p class="help-block" ng-show="form.email.$error.required && form.email.$dirty">
                    What's your email address?
                  </p>
                  <p class="help-block" ng-show="form.email.$error.mongoose">
                    {{ errors.email }}
                  </p>                
                </div>
                <div class="form-group has-error">
                  <p class="help-block">{{ errors.other }}</p>
                </div>

                <div class="form-group" ng-class="{ 'has-success': form.password.$valid && form.password.$dirty,
                                                    'has-error': form.password.$invalid && form.password.$dirty }">
                  <div style="position: relative;">
                      <input ng-attr-type="{{ showPassword ? 'text' : 'password' }}" name="password" class="form-control" ng-model="user.password"
                         ng-minlength="3"
                         required
                         mongoose-error placeholder="Password"/>
                      <i ng-mousedown="showPassword = !showPassword" ng-mouseup="showPassword = !showPassword" class="myeye fa fa-eye"></i>
                  </div>
                  <p class="help-block" ng-show="form.password.$error.required && form.password.$dirty">
                    A password is required.
                  </p>
                  <p class="help-block"
                     ng-show="form.password.$error.minlength && form.password.$dirty && !form.password.$error.required">
                    Password must be at least 3 characters.
                  </p>
                  <p class="help-block" ng-show="form.password.$error.mongoose">
                    {{ errors.password }}
                  </p>                
                </div>
                
                <div class="form-group" ng-class="{ 'has-success': form.phone.$valid && form.phone.$dirty,
                                                  'has-error': form.phone.$invalid && form.phone.$dirty }">
                    <div style="position: relative;">
                        <input type="text" name="phone" class="form-control" ng-model="user.phone"
                           ng-pattern="/^(\d{3}\)|\d{3})[- ]?\d{3}[- ]?\d{3,5}$/" required placeholder="Your phone number"/>
                        <i class="myasterisk fa fa-asterisk"></i>
                    </div>
                    <p class="help-block" ng-show="form.phone.$error.required && form.phone.$dirty">
                      Phone number is required
                    </p>
                    <span class="help-block" ng-show="form.$error.pattern && form.$dirty && !form.$error.required">
                        Phone can only contain numbers and letter -<br/>
                    </span>
                </div>
                
                <div class="form-group" ng-class="{ 'has-success': form.address.$valid && form.address.$dirty,
                                                  'has-error': form.address.$invalid && form.address.$dirty }">
                    <div style="position: relative;">
                        <input type="text" name="address" class="form-control" ng-model="user.address"
                           required placeholder="Your Shipping Address"/>
                        <i class="myasterisk fa fa-asterisk"></i>
                    </div>
                    <p class="help-block" ng-show="form.address.$error.required && form.address.$dirty">
                      Shipping address is required
                    </p>
                </div>
                
                <div class="text-center">
                    <button type="submit" class="btn btn-primary"
                            ng-disabled="form.$invalid"><i class="fa fa-user-md"></i> Sign up</button>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="" href="login">Login</a>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-3"></div>

  </div>
  <hr>
</div>
