<div class="col-md-12">
    <div class="col-md-3">
        <div class="panel panel-default sidebar-menu">
            <div class="panel-heading">
                <h3 class="panel-title">Total up by :</h3>
            </div>
            <div class="panel-body">
                <ul class="nav nav-pills nav-stacked">
                    <li>
                        <a href="#" ng-click="showChart('chart1')">Month</a>
                    </li>
                    <li>
                        <a href="#" ng-click="showChart('chart2')" >Category</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="row panel panel-default sidebar-menu" ><br>
            <div class="col-md-6 col-md-offset-2">
                <div class="col-md-6 text-right"><h5>Select year: </h5></div>
                <div class="col-md-6">
                    <span class="input-group">
                        <input type="text" class="form-control mycalendar" custom-class="getDayClass(date, mode)" datepicker-popup="yyyy" datepicker-options="{{datepickerOptions}}" ng-model="dt1" ng-change="loadOrdersAll()" max-date="" is-open="popup1.opened" readonly close-text="Close" />
                        <span class="input-group-btn" ng-click="popup1.opened = !popup1.opened">
                            <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </span>
                </div>
            </div><br><br>

            <div class="col-md-12" ng-if="chart1.show == true" >
                <canvas id="bar" class="chart chart-bar" 
                        chart-data="data" chart-labels="labels" chart-options="options1" 
                        chart-series="series" chart-colors="colors" >
                </canvas>
            </div>

            <div class="col-md-6 col-md-offset-3" ng-if="chart2.show == true" >
                <canvas id="pie" class="chart chart-pie" 
                        chart-data="data2" chart-labels="labels2" chart-options="options2" chart-colors="colors2">
                </canvas>
            </div>
        </div>
    </div>
</div>