<div class="col-md-3">
        <div class="panel panel-default sidebar-menu">

        <div class="panel-heading">
            <h3 class="panel-title">Pages</h3>
        </div>

        <div class="panel-body">
            <ul class="nav nav-pills nav-stacked">
                <li>
                    <a href="#">Text page</a>
                </li>
                <li>
                    <a href="#">Contact page</a>
                </li>
                <li>
                    <a href="#">FAQ</a>
                </li>

            </ul>

        </div>
    </div>

    
</div>
<div class="col-md-9">
    <div class="row">
        <div class="col-md-3 text-right"><h5>Select year: </h5></div>
        <div class="col-md-3">
            <span class="input-group" ng-click="popup1.opened = !popup1.opened" >
                <input type="text" class="form-control mycalendar" custom-class="getDayClass(date, mode)" datepicker-popup="yyyy" datepicker-options="{{datepickerOptions}}" ng-model="dt1" ng-change="loadOrders()" max-date="" is-open="popup1.opened" readonly close-text="Close" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </span>
        </div>
                           
    </div>
    

<canvas id="bar" class="chart chart-bar"
  chart-data="data" chart-labels="labels" chart-series="series" >
</canvas>
<!--{{orders}}-->
</div>