<div class="col-md-12">
    <ul class="breadcrumb">
        <li><a ui-sref="main" href="">Home</a></li>
    </ul>
</div>
<div class="col-md-12" ng-show="cart.getTotalCount() == 0">
    <div class="box"><a href="main">{{msg}}</a></div>
</div>
<div class="col-md-7" id="checkout" ng-show="cart.getTotalCount() > 0">
    <div class="box">        
        <div class="panel-heading">
            <h4>Order details</h4>
        </div>
        <div class="panel-body">                
            <table class="cart table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th></th>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- empty cart message -->
                    <tr ng-hide="cart.getTotalCount() > 0" >
                        <td class="tdCenter" colspan="7">
                            Your cart is empty. &nbsp;&nbsp;<a class="btn btn-primary" href="main">Shop Now</a>
                        </td>
                    </tr>

                    <tr ng-repeat="item in cart.items| filter: filterCart">
                        <td>{{$index + 1}}</td>
                        <td class="product-thumbnail">
                            <a>
                                <img class="productimg" ng-src="assets/books/{{item.image}}" alt="{{item.name}}" data-err-src="assets/images/photo.png" width="54px"/>
                            </a>
                        </td>

                        <td class="product-name">
                            <a ui-sref="productDetail({id:item.sku, name:item.name})" ng-click="cancel();">{{item.name}}</a>
                        </td>

                        <td>{{item.price| currency}}</td>

                        <td class="text-center">
                            {{item.quantity}}
                        </td>

                        <td><span><strong>{{item.price * item.quantity| currency}}</strong></span></td>
                    </tr>
                </tbody>
            </table>                
        </div>            
    </div>
    <!-- /.box -->


</div>
<!-- /.col-md-9 -->

<div class="col-md-5" ng-show="cart.getTotalCount() > 0">
    <div class="box" id="order-summary">
        <div class="panel-heading">
            <h4>Order summary</h4>
        </div>
        <div class="table-responsive">
            <table class="table">
                <tbody>
                    <tr>
                        <td>Order subtotal</td>
                        <td></td>
                        <th>{{cart.getTotalPrice() | currency}}</th>
                    </tr>
                    <tr>
                        <td>Discount Coupon</td>
                        <td>
                            <span class="block input-icon input-icon-right">
                                <input type="text" name="coupon" 
                                       ng-model="couponCode" 
                                       class="form-control" 
                                       placeholder="Discount Coupon" 
                                       ng-change="checkCoupon(couponCode, cart.getTotalPrice());"
                                       ng-model-options="{debounce: 500}"
                                       autocomplete="off"/>
                                <small class="text-muted text-success" ng-if="couponCode && !coupon.message">{{coupon.eventName}} coupon discount was applied to the cart. Discount {{coupon.amount}}%</small>
                                <small class="errorMessage"
                                       ng-if="couponCode && coupon.message"> {{coupon.message}}</small>
                            </span>
                        </td>
                        <td ng-if="coupon.amount && !coupon.message"> - {{cart.getTotalPrice() * coupon.amount / 100| currency}}</td>
                    </tr>

                    <tr class="total">
                        <td>Total</td>
                        <td></td>
                        <th ng-if="coupon.amount && !coupon.message">
                            {{cart.getTotalPrice() - cart.getTotalPrice() * coupon.amount / 100 | currency}}
                        </th>
                        <th ng-if="!couponCode || coupon.message">
                            {{cart.getTotalPrice() | currency}}
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="box-footer">
            <div class="pull-right">
                <button type="submit" class="btn btn-primary" 
                        ng-click="placeOrder(cart.items);">
                    Place order<i class="fa fa-chevron-right"></i>
                </button>
            </div>
        </div>
    </div>

</div>
<!-- /.col-md-3 -->
