span.slash {
    color: #7f7f7f;
    font-size: 10px;
    text-decoration: line-through;
    font-style: normal;
    font-weight: normal;
}
p.price .text-muted{
    font-size: 20px;
}
.product .text{
    min-height: 170px;
}
.product a.invisible{
    min-height: 300px;
}
.product .flip-container{
    height:40px;
}
.product .flip-container img.img-responsive {
    min-height: 350px;
    max-height: 350px;
    width: auto;
}
.products .img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    height: 330px;
}
/*div.front {
        text-align: center;
}*/
em {
    padding: 2px 4px;
    color: #EA1F00;
    background-color: #F7F7F7;
    border: 1px solid #E1E1E8;
    font-style: normal;
    font-weight: 600;
    border-radius: 3px;
    letter-spacing: 1.5px;
}
.brand-filter-panel{
    height:250px;overflow:auto;
}
.category {
    color: #4fbfa8 !important;
    font-weight: 400 !important;
    font-size: 14px !important;
}
.btn-wishlist {
    font-size: 1.1em !important;
    color: rgb(33,150,243) !important;
    border-color: white !important;
}
.btn-wishlist:hover{
    background-color: rgba(33,150,243,0.2) !important;
}
.btn-wished {
    font-size: 1.1em !important;
    color: rgb(255,64,129) !important;
    border-color: white !important;
}
.btn-wished:hover{
    background-color: rgba(33,150,243,0.2) !important;
}
.btn-mycart {
    background-color: rgb(33,150,243) !important;
    border-color: rgb(33,140,243) !important;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26) !important;
    text-transform: initial !important;
    padding: 6px 8px !important;
}
.btn-mycart:hover {
    background-color: rgb(33,130,243) !important;
    border-color: rgb(33,120,243) !important;
}
.btn-mycart i {
    font-size: 1.2em;
}

/*custom modal*/
.modal {
    text-align: center;
}

@media screen and (min-width: 768px) { 
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    width: 480px !important;
}
.modal-content {
    border-radius: 4px;
}
.modal.fade .modal-dialog {
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -ms-transform: scale(0.1);
    transform: scale(0.1);
    top: 300px;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.modal.fade.in .modal-dialog {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform: translate3d(0, -300px, 0);
    transform: translate3d(0, -300px, 0);
    opacity: 1;
}
.md-dialog {
    min-width: 30%;
    max-height: 85%;
    box-shadow: 0 7px 8px -4px rgba(0,0,0,.2), 0 13px 19px 2px rgba(0,0,0,.14), 0 5px 24px 4px rgba(0,0,0,.12);
    display: flex;
    flex-direction: column;
}
.section {
    padding: 16px 0;
}
.layout-row{
    display: flex;
    flex-direction: column;
}
.star-on {
    color: #32cd32;
}
.star-off {
    color: #ddd;
}
.layout-align-center-center, .layout-align-end-center, .layout-align-space-around-center, .layout-align-space-between-center, .layout-align-start-center {
    -webkit-box-align: center; 
    -webkit-align-items: center;
    -ms-grid-row-align: center;
    align-items: center;
    -webkit-align-content: center;
    align-content: center;
    max-width: 100%;
}
.layout, .layout-column, .layout-row {
    box-sizing: border-box; 
    display: -webkit-flex; 
    display: -ms-flexbox;
    display: flex; 
}
.layout-column {
    -webkit-box-orient: vertical; 
    -webkit-flex-direction: column; 
    flex-direction: column;
}
.layout, .layout-column, .layout-row {
    box-sizing: border-box; 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: flex;
}
.flex {
    -webkit-flex: 1; 
    flex: 1;
}

.star-container {
    display: inline;
}
.mystar {
    padding: 0 16px;
}
.input-message {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    order: 2;
    display: block;
    margin-top: 0;
    background: 0 0;
    border-width: 0 0 1px;
    line-height: 26px;
    height: 30px;
    -ms-flex-preferred-size: 26px;
    border-radius: 0;
    border-style: solid;
    width: 100%;
    box-sizing: border-box; 
    float: left;
    padding: 2px 2px 1px;
    border-color: rgba(0,0,0,0.12);
    resize: none;
    overflow: hidden;
}
.input-message:focus {
    border-color: rgb(33,150,243);
    border-width: 0 0 2px !important;
    outline: 0;
}
/*process bar*/
.progress {
    height: 5px !important;
    margin: 0 20px 22px 45px !important;
    overflow: hidden;
    background-color: rgb(187,222,251) !important;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1) !important;
    box-shadow: none !important;   
    border-radius: 0 !important;
}
.lowratebg{
    background-color: rgb(255,204,188) !important;
}
.lowrate{
    color: rgb(255,87,34) !important;
}
.progress-bar-success {
    background-color: rgb(33,150,243) !important;
}
.progress-bar-danger {
    background-color: rgb(255,87,34) !important;
}
.ratehead{
    font-size: 2em;
    margin-bottom: 20px;
    color: rgb(33,150,243);
}
.ratingstar{
    position: absolute;
    left: 0;
    top: -10px;
    font-size: 1.3em;
    color: rgb(33,150,243);
}
.ratingnum{
    position: absolute;
    right: 0;
    top: -8px;
    font-size: 1.2em;
    color: rgb(255,87,34);
}