
<div class="container">
<div class="row">
  <div class="col-sm-12 text-center">
    <ol class="breadcrumb">
        <li><a ui-sref="main">Home</a></li>
        <li ng-repeat="b in breadcrumb.items | reverse">
            <a ui-sref="main({myCategory: b})">{{b.name}}</a>
        </li>
    </ol>
  </div>
    <hr class="clearfix"/>
</div>
</div>
<div class="container">
    <div class="row">
      <div class="col-md-3">
          <!-- *** MENUS AND FILTERS ***
_________________________________________________________ -->
          <div class="panel panel-default sidebar-menu">              
                <div class="panel-heading">
                    <h3 class="panel-title">Categories
                      <div class="nav-search" id="nav-search">
                              <span class="input-icon">
                                  <input placeholder="Filter Categories ..." class="nav-search-input" ng-model="filterCat" autocomplete="off" type="text" autofocus style="width:100%">
                                  <i class="search-icon fa fa-search nav-search-icon"></i>
                              </span>
                      </div>
                    </h3>
                </div>

                <div class="panel-body brand-filter-panel">

                    <form>
                        <div class="form-group">
                            <div class="checkbox" ng-repeat="cat in categories  | filter:filterCat">
                                <label class="category" ng-click="goMain(cat);">
                                  <i class="search-icon fa fa-ticket nav-search-icon"></i>
                                  {{cat.name}}<span>&nbsp;</span>
                                </label>
                            </div>
                        </div>
                    </form>

                </div>
          </div>

          <!-- *** MENUS AND FILTERS END *** -->

          <div class="banner">
              <a href="#">
                  <img src="assets/images/banner.jpg" alt="sales 2017" class="img-responsive">
              </a>
          </div>
      </div>

      <div class="col-md-9">
          <div class="row" id="productMain">
              <div class="col-sm-6">
                  <div id="mainImage">
                      <img ng-src="assets/books/{{product.image}}" err-src="assets/images/photo.png" alt="{{product.name}}" class="img-responsive">
                  </div>

                  <div class="ribbon sale">
                      <div class="theribbon">SALE</div>
                      <div class="ribbon-background"></div>
                  </div>
                  <!-- /.ribbon -->

                  <div class="ribbon new">
                      <div class="theribbon">NEW</div>
                      <div class="ribbon-background"></div>
                  </div>
                  <!-- /.ribbon -->

              </div>
              <div class="col-sm-6">
                  <div class="box">
                      <h1 class="text-center">{{product.name}}</h1>
                      <p class="price"><del class="text-muted" ng-if="product.price!=product.mrp">{{product.mrp}}</del>&nbsp;${{product.price}}</p>

                      <div class="text-center buttons">
                        <div class="btn-group text-center">
                        <!--<a href="#details" class="btn btn-default">Book details</a>--> 
                        <a href="#" ng-click="addWishlist()" ng-hide="checkWishlist()" ng-show="!checkWishlist()" class="btn btn-primary">Add to wish list</a>
                        <a href="#" ng-click="removeWishlist()" ng-hide="!checkWishlist()" ng-show="checkWishlist()" class="btn btn-danger">Remove from wish list</a>
                        
                        <a ng-click="cart.addItem(product.id, product.name, product.slug, product.mrp, product.price, -1)" ng-hide="checkCart(product.id)" class="btn btn-primary">-</a>
                        <a href="#" ng-click="addWishlist()" ng-hide="wishExisted" class="btn btn-primary">Add to wish list</a>
                        <a href="#" ng-click="removeWishlist()" ng-hide="!wishExisted" class="btn btn-danger">Remove from wish list</a>

                        <a ng-click="cart.addItem(product.id, product.name, product.quantity, product.mrp, product.price, -1)" ng-hide="checkCart(product.id)" class="btn btn-primary">-</a>

                        <a ng-hide="checkCart(product.id)" class="btn btn-default">{{getQuantity(product.id);}}</a>

                        <a ng-click="cart.addItem(product.id, product.name, product.quantity, product.mrp, product.price, +1)" ng-hide="checkCart(product.id)" ng-disabled="getQuantity(product.id)>=product.quantity" class="btn btn-primary">+</a>
                        </div>
                        <a ng-click="cart.addItem(product.id, product.name, product.quantity, product.mrp, product.price, 1, product.image,product.category, product.size ,true);" ng-show="checkCart(product.id)" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                      </div>

                  </div>
              </div>

          </div>


          <div class="box" id="details">
              <p>
                  <h4>Category</h4>
                  <ul>
                      <li><a href="">{{product.categoryId.name}}</a></li>
                  </ul>
                  <h4>Author</h4>
                  <ul>
                      <li><a href="">{{product.author}}</a></li>
                  </ul>
                  
                  <blockquote>
                      <p>{{product.description}}
                      </p>
                  </blockquote>

                  <hr>
                  <div class="social">
                      <h4>Show it to your friends</h4>
                      <p>
                          <a href="" class="external facebook" data-animate-hover="pulse"><i class="fa fa-facebook"></i></a>
                          <a href="" class="external gplus" data-animate-hover="pulse"><i class="fa fa-google-plus"></i></a>
                          <a href="" class="external twitter" data-animate-hover="pulse"><i class="fa fa-twitter"></i></a>
                          <a href="" class="email" data-animate-hover="pulse"><i class="fa fa-envelope"></i></a>
                      </p>
                  </div>
            </div>
          </div>
    </div>
</div>
