<div class="col-md-12">
    <div class="box">
        <div class="row">
            <div class="col-md-12">
                <div class="row" >
                    <div class="col-md-3">
                        <h4 ng-hide="isAdmin()">Orders History</h4>
                        <h4 ng-show="isAdmin()">Orders Management</h4>
                    </div>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-3 text-right"><h5>Select orders from: </h5></div>
                            <div class="col-md-3">
                                <span class="input-group" >
                                    <input type="text" class="form-control mycalendar" custom-class="getDayClass(date, mode)" datepicker-popup="dd-MM-yyyy" ng-model="dt1" ng-change="loadOrders()" max-date="dt2" is-open="popup1.opened" readonly close-text="Close" />
                                    <span class="input-group-btn" ng-click="popup1.opened = !popup1.opened">
                                        <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </span>
                            </div>
                            <div class="col-md-1 text-right"><h5>To: </h5></div>
                            <div class="col-md-3">
                                <span class="input-group">
                                    <input type="text" class="form-control mycalendar" custom-class="getDayClass(date, mode)" datepicker-popup="dd-MM-yyyy" ng-model="dt2" ng-change="loadOrders()" min-date="dt1" max-date="today" is-open="popup2.opened" readonly close-text="Close" />
                                    <span class="input-group-btn" ng-click="popup2.opened = !popup2.opened">
                                        <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <h4 ng-hide="isAdmin()" class="bg-info well text-center">Total Spent: {{orders.total| currency}}</h4>
                <h4 ng-show="isAdmin()" class="bg-info well text-center">Total Amount: {{orders.total| currency}}</h4>
                <div class="panel panel-primary" ng-repeat="o in orders| orderBy : 'date' : 'reverse'">
                    <div class="panel-heading">
                        <div class="panel-title">
                            &nbsp;{{o.date| amCalendar}}                                
                            <div class="col-sm-3 pull-right sw-search" ng-hide="isAdmin()">
                                <input ng-model="o.status"
                                       class="form-control" readonly/>
                            </div>

                            <div class="col-sm-3 pull-right sw-search" ng-show="isAdmin()">                    
                                <select   ng-model="o.status"
                                          ng-options="status for status in orderStatusLov"
                                          ng-change="changeStatus(o)"
                                          class="form-control"></select>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <table class="table" style="margin-bottom: 0 !important">
                            <tbody>
                                <tr ng-repeat="i in o.orderDetailCollection" >
                                    <td class="col-md-2 text-center">
                                        <a ui-sref="productDetail({id:i.productId.id, name:i.productId.name})">
                                            <img class="productimg" ng-src="assets/books/{{i.productId.image}}" err-src="assets/images/photo.png" width="70px" />
                                        </a>
                                    </td>
                                    <td class="col-md-8">
                                        {{i.productId.name}}<br/>
                                        <span class="text-muted">Author: {{i.productId.author}}</span><br/>
                                        <span class="text-muted">Quantity: {{i.quantity}}</span><br/>
                                        <span class="text-muted">Unit Price: {{i.productId.price| currency}}</span>
                                    </td>
                                    <td class="col-md-2">
                                        <span class="text-muted">= {{i.quantity * i.productId.price| currency}}</span>
                                    </td>
                                </tr>
                                <tr class="divider" ng-show="isAdmin()">
                                    <td></td>
                                    <td>
                                        <a>
                                            <i class="fa fa-user"></i>&nbsp;&nbsp; {{o.customerId.name}}&nbsp;</br>
                                            <i class="fa fa-phone-square"></i>&nbsp;&nbsp; {{o.customerId.phone}}&nbsp;</br>
                                            <i class="fa fa-truck fa-flip-horizontal"></i>&nbsp;&nbsp; {{o.customerId.address}}</br>
                                        </a>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr class="divider" ng-if="o.couponId.amount">
                                    <td></td>
                                    <td>
                                        <a>
                                            <i class="fa fa-money"></i>&nbsp;&nbsp; {{o.couponId.eventName}} coupon discount was applied. Code: {{o.couponId.code}}. Discount {{o.couponId.amount}}%&nbsp;
                                        </a>
                                    </td>
                                    <td>- {{o.subTotal * o.couponId.amount / 100| currency}}</td>
                                </tr>
                                <tr class="well" style="margin-bottom: 0 !important">
                                    <td class="text-center" colspan="1">{{ o.id | limitTo:11}}</td>
                                    <td class="text-right">Order Total:</td>
                                    <td colspan="1" ng-if="!o.couponId.amount">
                                        {{o.subTotal| currency}}
                                    </td>
                                    <td colspan="1" ng-if="o.couponId.amount">
                                        {{o.subTotal -  o.subTotal * o.couponId.amount / 100| currency}}&nbsp;&nbsp;<a href="#" ng-show="isAdmin()"ng-click="export(o)">Print Bill</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
